# ENVIRONMENT
NODE_ENV=local

# SERVER
PORT=3100
HOST=http://localhost:${PORT}

CLIENT_HOST=http://localhost:3200

CORS_ENABLE_WHITELIST=false

# GRAPHQL
GRAPHQL_URL=http://localhost:9000/v1/graphql
GRAPHQL_SECRET=myGraphQlSecret
GRAPHQL_ENABLE_WHITELIST=true

COOKIE_SECRET=cookie\$ecret
COOKIE_MAX_AGE=86400000
REDIS_CONNECTION_STRING=

ELASTICSEARCH_URL=

PROXY_API_KEY=

TICKET_SERVICE_URL=
TICKET_SERVICE_CERT=
TICKET_SERVICE_KEY=
TICKET_SERVICE_PASSPHRASE=
TICKET_SERVICE_MAXAGE=
MEDIA_SERVICE_URL=

# IDP HET ARCHIEF
SAML_IDP_META_DATA_ENDPOINT=
SAML_SP_ENTITY_ID=

# Certificate and keys are identical for both IDPs
SAML_SP_PRIVATE_KEY=
SAML_SP_CERTIFICATE=

# IDP MEEMOO
SAML_MEEMOO_IDP_META_DATA_ENDPOINT=
SAML_MEEMOO_SP_ENTITY_ID=

# Campaign monitor emails
ENABLE_SEND_EMAIL=false
CAMPAIGN_MONITOR_API_ENDPOINT=
CAMPAIGN_MONITOR_API_KEY=
CAMPAIGN_MONITOR_TEMPLATE_VISIT_APPROVED=
CAMPAIGN_MONITOR_TEMPLATE_VISIT_DENIED=
